/* Fonts */
@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab5bf617bb88f9d9ace8_OrtankHangeulText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab8084451636a5964c5f_OrtankHangeulText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ortankhangeultext';
    src: url('https://uploads-ssl.webflow.com/64520b917dd4e006c8db2106/6480ab2694e636357948837e_OrtankHangeulText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* General */
body {
  background-color: #f3f2ea;
  font-family: 'Ortankhangeultext', sans-serif;
  font-weight: 400;
  color: #584c43;}

/* Main page */
.heading {display: block;
  margin:30px;
  line-height: 36px;
  font-size: 24px;
  color: #584c43;
  font-weight: 400;
  margin-bottom: 0;}

.level-label {display: block;
  font-size: 16px;
  line-height: 36px;
  color:RGBa(88,76,67,0.6);
  font-weight: 400;
  margin-bottom: 0;}

.level-label strong{
    color:#584c43;
    font-weight:500;}



/* General-Cards */
.flip-container {
  position: relative;
  display: inline-block;
  perspective: 1000px;
  cursor: pointer;
}
.flip-container .flipper {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
}
.flip-container.active .flipper {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid RGBa(88,76,67,0.4);
  margin:0;padding:0;
}

.front {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  -moz-transform: rotateY(0);
  -o-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}



.front label {font:0;line-height:0;}

.back {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back label {
    display: block;
    width: 100%;
    color:white;
    font-weight: 500;
    background-color: RGBa(88,76,67,0.6);
    position: absolute;
    bottom:0;
    border-radius:0px;
}


/* Timer */
.timer {
  background-color:#f3f2ea;
  padding:5px 10px;
  border-radius:10px;
  display: none;
  position: fixed;
  pointer-events: none;
  right:0px;
  top: 0px;
}
.timer label#minutes,
.timer label#seconds {
  display: inline-block;
  font-size: 20px;
}
.timer .time {
  display: none;
  font-size: 13px;
}

/* Buttons */
.btn {
  font-family: 'Ortankhangeultext', sans-serif;
  margin:20px 10px;
  display: inline-block;
  background-color: #f3f2ea;
  padding: 10px;
  width:150px;
  border: 1px solid #7C6F67;
  border-radius: 30px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #584c43;
  box-shadow: 0 3px 0 #7C6F67;
  cursor: pointer;
  transition: all 100ms linear;
}
.btn:hover {
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 7px 0 #7C6F67;
}
.btn:focus {
  outline: 0;
}



#btn-refresh {display: inline-block;position: fixed;top:0px;left:0px;width:auto;padding:10px 15px;background-color:#f3f2ea;z-index:3}


/* Helpers */
.align-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.cursor-default {
  cursor: default !important;
}

/* Reponsive Rules */
@media screen and (max-width: 1200px) {


}
@media screen and (max-width: 992px) {


}
@media screen and (max-width: 768px) {

}
/* Animations */
@keyframes wobble {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) scale(1.4);
  }
  45% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  60% {
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }
  75% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
  }
}
.wobble {
  animation: wobble 600ms ease-in-out;
}


/* 8 Cards */
#cards-container-game8 {
  display: block;
  margin: 40px auto;
  max-width:800px;}

#cards-container-game8 .flip-container {
  margin: 10px;}

#cards-container-game8 .flip-container,
#cards-container-game8 .front,
#cards-container-game8 .back {
  border-radius:15px;
  width: 180px;
  height: 180px;}


#cards-container-game8 .front {background-image: url("img/card_back_8.png");}


#cards-container-game8 .back label {
    font-size: 1vw;
    padding:0.2vw 0;}


/* 12 Cards */
#cards-container-game12 {
  display: block;
  margin: 40px auto;
  max-width:1000px;}

#cards-container-game12 .flip-container {
  margin: 10px;}

#cards-container-game12 .flip-container,
#cards-container-game12 .front,
#cards-container-game12 .back {
  border-radius:10px;
  width: 140px;
  height: 140px;}

#cards-container-game12 .front {background-image: url("img/card_back_12.png");}

#cards-container-game12 .back label {
  font-size: 0.8vw;
  padding:0.2vw 0;}


/* 20 Cards */
#cards-container-game20 {
  display: block;
  margin: 40px auto;
  max-width:1200px;}

#cards-container-game20 .flip-container {
  margin: 8px;}

#cards-container-game20 .flip-container,
#cards-container-game20 .front,
#cards-container-game20 .back {
  border-radius:10px;
  width:120px;
  height:120px;}

#cards-container-game20 .front {background-image: url("img/card_back_20.png");}

#cards-container-game20 .back label {
  font-size: 12px;
  padding:2px 0;}


/* Reponsive Rules */
@media screen and (max-width: 1200px) {
    #cards-container-game8 {
        margin: 30px auto;}

    #cards-container-game12 {
        margin: 30px auto;}

    #cards-container-game20 {
        margin:30px auto;
        max-width:100%}
    #cards-container-game20 .flip-container {
        margin: 0.7vw 0.8vw;}
    #cards-container-game20 .flip-container,
    #cards-container-game20 .front,
    #cards-container-game20 .back {
        width: 10vw;
        height: 10vw;}
    #cards-container-game20 .back label {
        font-size: 0.8vw;
        padding:0.2vw 0;}
}

@media screen and (max-width: 992px) {
    #cards-container-game8 {
        max-width:100%;
        margin: 20px auto;}
    #cards-container-game8 .flip-container {
        margin: 1.2vw;}
    #cards-container-game8 .flip-container,
    #cards-container-game8 .front,
    #cards-container-game8 .back {
        width: 20vw;
        height: 20vw;}


    #cards-container-game12 {
        max-width:100%;
        margin: 20px auto;}
    #cards-container-game12 .flip-container {
        margin: 1.2vw;}
    #cards-container-game12 .flip-container,
    #cards-container-game12 .front,
    #cards-container-game12 .back {
        width: 20vw;
        height: 20vw;}


    #cards-container-game20 {
        margin:20px auto;
        max-width:100%}
    #cards-container-game20 .flip-container {
        margin: 0.7vw 1vw;}
    #cards-container-game20 .flip-container,
    #cards-container-game20 .front,
    #cards-container-game20 .back {
        width: 15vw;
        height: 15vw;}
    #cards-container-game20 .back label {
        font-size: 1.4vw;
        padding:0.2vw 0;}
}

@media screen and (max-width: 768px) {
}


